{% extends 'base.html.twig' %}

{% block body %}

    {# total items count #}
    <div class="count">
       {# {{ pagination.getTotalItemCount }} #}
    </div>
    <a href="{{ path("create") }}" class="btn btn-success">Create</a>
    <div class="row"></div>
    <table class="table table-condensed">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
            <th{% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Price', ['Price', 'p.price']) }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Count', ['Count', 'p.count']) }}</th>
            <th>Actions</th>
        </tr>

        {# table body #}
        {% for product in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.count }}</td>
                <td><a class="glyphicon glyphicon-eye-open" href="/view?id={{ product.id }}" role="button"></a>
                    <a class="glyphicon glyphicon-pencil" href="/update?id={{ product.id }}" role="button"></a>
                    <a class="glyphicon glyphicon-trash" href="/delete?id={{ product.id }}" role="button"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
